.page {
    display: flex;
    justify-content: center;
    min-width: 300px;
  }
  
  .input {
    display: flex;
    width: 490px;
    margin-right: 15px;
  }
  
  .chars {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 100px 0 0;
    margin: 10px;
    list-style: none;
  }
  .char {
    margin: 7px;
  }